/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* * {
  margin: 0 auto;
  max-width: 100%;
} */

:root {
  --steel-gray: #242332;
  --light-blue: #61aed0;
  --white-text: #ffffff;
  --black-text: #000000;
}

.navigation {
  background-color: var(--steel-gray);
  color: var(--white-text);
  list-style: none;
  display: flex;
  height: 44px;
  align-items: center;
  line-height: 44px;
  justify-content: space-around;
}

.navigation>li {

}


@media screen and (min-width: 600px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    border: 4px solid var(--light-blue);
    border-radius: 10px;
  }
}