/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* * {
  margin: 0 auto;
  max-width: 100%;
} */

:root {
  --steel-gray: #242332;
  --light-blue: #61aed0;
  --white-text: #ffffff;
  --black-text: #000000;
}

.navigation {
  background-color: var(--steel-gray);
  color: var(--white-text);
  list-style: none;
  display: flex;
  height: 44px;
  align-items: center;
  line-height: 44px;
  justify-content: space-around;
}

.reviews-list {
  line-height: 1.75rem;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 35px;
}

.figure-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  border: 1px solid var(--black-text);
  height: 100px;
  align-items: center;
  justify-content: center;
}

.figure-box img, .figure-box a {
  display: block;
}

.figure-box a {
  position: absolute;
  bottom: -20px;
}

footer {
  clear: both;
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    border: 4px solid var(--light-blue);
    border-radius: 10px;
  }
}