/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

/* * {
  margin: 0 auto;
  max-width: 100%;
} */

:root {
  --steel-gray: #242332;
  --light-blue: #61aed0;
  --white-text: #ffffff;
  --black-text: #000000;
}

.siteName {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.siteName>a {
  font-weight: bold;
  text-decoration: none;
  color: var(--black-text);
}

#top-header {
  position: relative;
  padding: 1rem 0;
}

#tools {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  font-size: 0.8rem;
}

#tools>a {
  text-decoration: none;
  color: var(--black-text);
}

.navigation {
  background-color: var(--steel-gray);
  color: var(--white-text);
  list-style: none;
  display: flex;
  height: 44px;
  align-items: center;
  line-height: 44px;
  justify-content: space-around;
  padding: 0;
}

.navigation a {
  color: var(--white-text);
  text-decoration: none;
}

.hero {
  position: relative;
}

#hero-image {
  max-width: 80%;
  height: auto;
  align-self: center;
  display: block;
  margin: 0 auto;
}

.floater-div {
  position: absolute;
  top: -25px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  max-width: 45%;
}

.floater-div>img {
  max-width: 80%;
}

.delorean-header {
  margin-bottom: 0;
  color: var(--light-blue);
  font-size: 1.2rem;
}

.car-perks-list {
  list-style: none;
  padding: 0;
  margin-top: 0.4rem;
  color: var(--light-blue);
}

.car-perks-list>li {
  padding: 0;
  margin: 0;
}

.homepage-content-wrapper {
  clear: both;
  margin-top: 40px;
}

.reviews-list {
  line-height: 2rem;
  padding-left: 1rem;
}

.reviews-list>li {
  padding: 0;
  margin: 0;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 35px;
}

.figure-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  border: 1px solid var(--black-text);
  height: 85px;
  align-items: center;
  justify-content: center;
}

.figure-box img, .figure-box a {
  display: block;
  background-color: var(--white-text);
}

.figure-box a {
  position: absolute;
  bottom: -20px;
}

footer {
  clear: both;
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    border: 4px solid var(--light-blue);
    border-radius: 10px;
  }

  .homepage-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 1rem;
  }

  .homepage-content-wrapper>div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .homepage-content-wrapper>div:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1;
  }
}